body {font-family:"Shlomo LB","Ezra SIL SR","Ezra SIL","Keter YG","Keter Aram Tsova","Taamey David CLM","Taamey Frank CLM","SBL Hebrew",code2000,Cardo,"Guttman Vilna-Normal",Galaxie,"Frank Ruehl CLM","Arial Unicode MS";color:#000000;background-color:#FFFFFF;margin:1.5em;}
p {font-size:140%;line-height:150%;text-align:justify;margin-bottom:1em;}
p.r {font-size:140%;line-height:150%;text-align:right;}
p.m {font-size:110%;line-height:120%;text-align:justify;}
p.s {font-size:90%;line-height:120%;text-align:justify;}
h1 {font-size:200%;text-align:right;}
h2 {font-size:170%;text-align:right;}
big {font-size:120%;vertical-align:-7%;}
b {font-size:70%;vertical-align:9%;font-weight:bold}
small {font-size:80%;vertical-align:10%;font-weight:bold}
sup {font-size:115%;vertical-align:15%;}
td {font-size:140%;line-height:150%;text-align:right;vertical-align:top;margin-bottom:1em;}
